# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 120

[*.cs]
insert_final_newline = false
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

# IDE0004: Remove unnecessary cast
dotnet_diagnostic.IDE0004.severity = error

# IDE0005: Remove unnecessary import
dotnet_diagnostic.IDE0005.severity = error
