{
  "branches": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerRegistry": "devops-01.marinha.pt",
        "dockerProject": "marinha-si"
      }
    ]
  ]
}
