DB_PASSWORD=<password>
READ_API_KEY=
WRITE_API_KEY=
APP_SUB_PATH=
SONARQUBE_CI_TOKEN=<allow full scan via development environment>
SONARQUBE_USER_TOKEN=<allow sonarque connected mode via development environment>
SONAR_HOST_URL=<sonarque server url>

# Proxy Settings
HTTP_PROXY=http://proxy-n-wcg.marinha.pt:8080
HTTPS_PROXY=http://proxy-n-wcg.marinha.pt:8080
NO_PROXY=.marinha.pt,localhost,127.0.0.1,host.docker.internal
